doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css")
    link(rel="stylesheet", href="/css/style.css")

  body
    button#move-to-location-btn
        i.fa-solid.fa-location-crosshairs
    div#map(style="width: 100%; height: 100vh;")
    #leftPanel
        button#closePanel
            i.fa-solid.fa-x
        div
            .address#name 
            img.img_panel#img_lpanel(style="padding:0" src="/assets/images/Untitled.jpeg" alt="Hình ảnh")
        .in_leftPanel
            div
            p 
                b.bTag Địa chỉ: 
                span#addr 
            p 
                b.bTag Quãng đường: 
                span#Dist
            p 
                b.bTag Thời gian đi: 
                span#Dura
            p 
                b.bTag Số điện thoại liên hệ: 
                span#sdt
            p 
                b.bTag Số người: 
                span#people
            hr(style="margin: 10px -15px")
            .buttonPanel
                button.btn.btn_direct#direction
                    i.fa-solid.fa-diamond-turn-right
                button.btn#save_address
                    i.fa-regular.fa-bookmark
                button.btn#share_address
                    i.fa-solid.fa-share-from-square
                button.btn#call_sdt
                    i.fa-solid.fa-phone
    #leftPanel_mobi
        button#closePanel_mobi
            i.fa-solid.fa-x
        #title_mobi 
            strong#tl
        .in_leftPanel
            div
            p 
                b.bTag Địa chỉ: 
                span#addr_mobi
            p 
                b.bTag Quãng đường: 
                span#Dist_mobi
            p 
                b.bTag Thời gian đi: 
                span#Dura_mobi
            p 
                b.bTag Số điện thoại liên hệ: 
                span#sdt_mobi
            p 
                b.bTag Số người: 
                span#people_mobi
            hr(style="margin: 10px -15px")
            .buttonPanel
                button.btn.btn_direct#direction
                    i.fa-solid.fa-diamond-turn-right
                button.btn#save_address
                    i.fa-regular.fa-bookmark
                button.btn#share_address
                    i.fa-solid.fa-share-from-square
                button.btn#call_sdt
                    i.fa-solid.fa-phone
            hr(style="margin: 10px -15px")
        div
            img.img_panel#img_lpanel(style="padding:0" src="/assets/images/Untitled.jpeg" alt="Hình ảnh")


    script.
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
                toast.addEventListener("click", Swal.close);
            },
        });
      
      let locations = !{locations};
      const maptitleskey = !{maptitleskey};
      const APIKey = !{APIKey};

      goongjs.accessToken = maptitleskey;
      let userCoords = null;
      let userMarker = null;
      let dest = null;

      const map = new goongjs.Map({
          container: 'map',
          style: 'https://tiles.goong.io/assets/goong_map_web.json',
          center: [105.83991, 21.02800],
          zoom: 9,
      });

      document.addEventListener('DOMContentLoaded', () => {

          if (navigator.geolocation) {
              navigator.geolocation.watchPosition(
                  (position) => {
                      userCoords = [position.coords.longitude, position.coords.latitude];

                      if (!userMarker) {
                          userMarker = new goongjs.Marker({ color: 'blue' })
                              .setLngLat(userCoords)
                              .setPopup(new goongjs.Popup().setHTML('<h3>Vị trí của bạn</h3>'))
                              .addTo(map);
                          map.flyTo({
                            center: userCoords,
                            zoom: 12
                          }) 
                      } else {
                          userMarker.setLngLat(userCoords);
                          map.flyTo({
                            center: userCoords,
                            zoom: 12
                          }) 
                      }
                  },
                  (error) => {
                      console.error('Lỗi lấy vị trí:', error);
                      Toast.fire({
                        icon: 'info',
                        title: 'Đang lấy vị trí hiện tại! Vui lòng cấp quyền vị trí nếu bạn chưa thực hiện'
                      })
                  },
                  {
                      enableHighAccuracy: true,
                      maximumAge: 0,
                      timeout: 1000,
                  }
              )
          };

        map.on('load', () =>{
            locations.forEach(function(index){
                if(index.Trang_Thai.toLowerCase() == "hoạt động"){
                    const marker = new goongjs.Marker({color: 'green'})
                        .setLngLat([index.lng, index.lat])
                        .addTo(map);

                    marker.getElement().addEventListener('click', () => {
                        
                        document.getElementById('name').innerHTML = index.Ten_Khu_Di_Tan;
                        document.getElementById('addr').innerHTML = index.Dia_Chi_Chi_Tiet;
                        document.getElementById('sdt').innerHTML = index.So_Dien_Thoai_Nguoi_Phu_Trach;
                        document.getElementById('people').innerHTML = index.So_Nguoi_Hien_Tai + "/" + index.Suc_Chua_Toi_Da;
                        dest=[marker.getLngLat().lng, marker.getLngLat().lat];
                        getDistanceDuration(userCoords, dest);

                        const imgs = document.querySelectorAll('.img_panel');
                        if(index.Anh){
                            imgs.forEach(function(imgsc){
                                imgsc.src = index.Anh;
                            })
                        }else{
                            imgs.forEach(function(imgsc){
                                imgsc.src = "/assets/images/Untitled.jpeg";
                            })
                        }
                        if (window.innerWidth <= 800) {
                            document.getElementById('tl').innerHTML = index.Ten_Khu_Di_Tan;
                            document.getElementById('addr_mobi').innerHTML = index.Dia_Chi_Chi_Tiet;
                            document.getElementById('sdt_mobi').innerHTML = index.So_Dien_Thoai_Nguoi_Phu_Trach;
                            document.getElementById('people_mobi').innerHTML = index.So_Nguoi_Hien_Tai + "/" + index.Suc_Chua_Toi_Da;
                            document.getElementById('leftPanel_mobi').style.bottom = '0';
                        }else{
                            document.getElementById('leftPanel').style.left = '0';
                        }
                    })

                    marker.getElement().addEventListener('mouseenter', () => {
                        marker.getElement().style.cursor = 'pointer';
                        const popup = new goongjs.Popup().setHTML(`<h3>${index.Dia_Chi_Chi_Tiet}</h3>`);
                        marker.setPopup(popup).togglePopup();
                    })

                    marker.getElement().addEventListener('mouseleave', () => {
                        marker.getElement().style.cursor = 'default';
                        marker.getPopup().remove();
                    });
                }
            })

        })


        function decodePolyline(encoded) {
          let points = [];
          let index = 0, lat = 0, lng = 0;

          while (index < encoded.length) {
              let shift = 0, result = 0;
              let byte;

              do {
                  byte = encoded.charCodeAt(index++) - 63;
                  result |= (byte & 0x1f) << shift;
                  shift += 5;
              } while (byte >= 0x20);

              let dlat = ((result & 1) ? ~(result >> 1) : (result >> 1));
              lat += dlat;

              shift = 0;
              result = 0;

              do {
                  byte = encoded.charCodeAt(index++) - 63;
                  result |= (byte & 0x1f) << shift;
                  shift += 5;
              } while (byte >= 0x20);

              let dlng = ((result & 1) ? ~(result >> 1) : (result >> 1));
              lng += dlng;

              points.push([lng / 1e5, lat / 1e5]);
          }

          return points;
        }

        document.getElementById('move-to-location-btn').addEventListener('click', () => {
            if (userCoords) {
                map.flyTo({
                    center: userCoords,
                    zoom: 14,
                });
            } else {
            Toast.fire({
                icon: 'info',
                title: 'Đang lấy vị trí hiện tại! Vui lòng cấp quyền vị trí nếu bạn chưa thực hiện'
            })
            }
        });

        document.getElementById('closePanel').addEventListener('click', () => {
            if (window.innerWidth <= 800) {
                document.getElementById('leftPanel_mobi').style.bottom = '-500px';
            }else{
                document.getElementById('leftPanel').style.left = '-500px';
            }
        });

        document.getElementById('closePanel_mobi').addEventListener('click', () => {
            if (window.innerWidth <= 800) {
                document.getElementById('leftPanel_mobi').style.bottom = '-500px';
            }else{
                document.getElementById('leftPanel').style.left = '-500px';
            }
        });

        function getDistanceDuration(userCoords, dest){

            if(userCoords){
                const directionsUrl = `https://rsapi.goong.io/Direction?origin=${userCoords[1]},${userCoords[0]}&destination=${dest[1]},${dest[0]}&vehicle=car&api_key=${APIKey}`;
                fetch(directionsUrl)
                .then(response => response.json())
                .then(data => {
                    if (data.routes && data.routes.length > 0) {
                        document.getElementById('Dist').innerHTML = data.routes[0].legs[0].distance.text; 
                        document.getElementById('Dura').innerHTML = data.routes[0].legs[0].duration.text;
                        document.getElementById('Dist_mobi').innerHTML = data.routes[0].legs[0].distance.text;  
                        document.getElementById('Dura_mobi').innerHTML = data.routes[0].legs[0].duration.text;
                    }
                })
            }else{
                document.getElementById('Dist').innerHTML = "Đang cập nhật";  
                document.getElementById('Dura').innerHTML = "Đang cập nhật"
                document.getElementById('Dist_mobi').innerHTML = "Đang cập nhật";  
                document.getElementById('Dura_mobi').innerHTML = "Đang cập nhật"
            }
        }

        const buttons = document.querySelectorAll('.btn_direct');
        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                const directionsUrl = `https://rsapi.goong.io/Direction?origin=${userCoords[1]},${userCoords[0]}&destination=${dest[1]},${dest[0]}&vehicle=car&api_key=${APIKey}`;
                fetch(directionsUrl)
                .then(response => response.json())
                .then(data => {
                    if (data.routes && data.routes.length > 0) {
                        const polyline = data.routes[0].overview_polyline.points;
                        if (polyline) {
                            const decodedPolyline = decodePolyline(polyline);

                            if (map.getSource('route')) {
                                map.removeLayer('route');
                                map.removeSource('route');
                            }

                            map.addSource('route', {
                                type: 'geojson',
                                data: {
                                    type: 'Feature',
                                    geometry: {
                                        type: 'LineString',
                                        coordinates: decodedPolyline,
                                    },
                                },
                            });

                            map.addLayer({
                                id: 'route',
                                type: 'line',
                                source: 'route',
                                paint: {
                                    'line-color': '#0f53fd',
                                    'line-width': 5,
                                },
                            });
                        }
                    } else {
                        Toast.fire({
                            icon: 'error',
                            title: 'Không tìm thấy đường đi. Vui lòng thử lại.'
                        })
                    }
                })
                .catch(error => {
                    console.error('Lỗi khi tạo tuyến đường:', error);
                    Toast.fire({
                        icon: 'error',
                        title: 'Không thể tạo đường dẫn. Vui lòng thử lại.'
                    })
                });
            });
        });

        if (window.innerWidth <= 800) {
            document.getElementById('leftPanel').style.display = 'none';
        }else{
            document.getElementById('leftPanel_mobi').style.display = 'none';
        }
        

     })//end load